MONGO_URI=mongodb://admin:admin123@cluster0-shard-00-00.j0di4.mongodb.net:27017,cluster0-shard-00-01.j0di4.mongodb.net:27017,cluster0-shard-00-02.j0di4.mongodb.net:27017/vrinda_resort?ssl=true&replicaSet=atlas-11btpl-shard-0&authSource=admin&retryWrites=true&w=majority
